
@* <div class="row">
    <div class="col-md-3">
        @* @await Html.PartialAsync("_categories",category); 
        @await Component.InvokeAsync("Categories");
    </div>
    <div class="col-md-9"> *@
          @section Categories{
      
    @await Component.InvokeAsync("Categories")
  
    }
        About
    @* </div>
</div> *@