<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group">
                <input name="searched" type="text" class="form-control mr-2" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-success btn-sm mx-auto w-100 light mr-0">Search</button>
        </form>
    </div>
</div>