@model ProductListViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Admin Products</h2>
        <hr>        
        <a class="btn btn-primary btn-sm mb-2" href="/admin/products/create">Add Product</a>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width:40px">ID</th>
                <th style="width:180px">Image</th>
                <th>Name</th>
                <th style="width:20px">Price</th>
                <th style="width:120px">Home Page</th>
                <th style="width:20px">Approved</th>
                <th style="width:200px"></th>
              </tr>
            </thead>
            <tbody>
                @if (Model.product.Count() != 0)
                {
                  @foreach (var item in Model.product)
                    {
                     <tr>
                        <td>@item.Id</td>
                        <td><img src="~/img/@item.ImageUrl" width="80"></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td style="text-align:center;">
                            @if (item.IsHome)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="fas fa-times-circle"></i>
                            }
                        </td>
                        <td style="text-align:center;">
                            @if (item.IsApproved)
                            {
                                <i class="fas fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="fas fa-times-circle"></i>
                            }
                        </td>
                        <td>
                            <a href="/admin/products/@item.Id" class="btn btn-primary btn-sm">Update</a>
                            <form action="/admin/deleteProduct" method="POST" style="display: inline;">
                                <input type="hidden" name="Id" value="@item.Id">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            
                        </td>
                    </tr>
                    }
                }
                else
                {
                    @await Html.PartialAsync("_noProduct")
                }

            </tbody>
        </table>
    </div>
</div>
